.signUpContainer {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    /* border: 1px solid #e5e5e5;    */
    border-bottom: none;
    border-top: none;
    padding: 20px 30px;
    align-items: center;
    background-color: white;
    position: relative;
    width: 900px;
    font-size: 16px;
}

.signUpContainer h3 {
    margin: 0;
}



.label {
    color: #4E79AA;
    text-align: left;
    margin: 5px 0 ;
    text-align: center;
}

.signUpContainer input {
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
    width: 250px; 
    font-size: 16px;
    position: relative;
}

.signUpContainer input:focus {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
}

.inputContainer {
    margin-top: 15px;
    text-align: center;
}

.signUpContainer button {
    background-color: #4E79AA;
    color: white;
    border: none;
    padding: 5px 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #4E79AA;
}

.signUpContainer button:hover {
    background-color: white;
    border: 2px solid #4E79AA;
    color: #4E79AA;
}

.signUpContainer button:disabled {
    opacity: 0.7;
    cursor:not-allowed;
}

.signupHeader {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    background-color: #E1F1FF;
    height: 80px;
    margin-bottom: 100px;
}

.leftBlock {
    display: flex;
    text-align: left;
    align-items: center;
}

.rightBlock {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 365px; 
}

.rightBlock span {
    margin-right: 5px;
    font-size: 14px;
}

.error {
    color: red;
    margin-top: 10px;
}

.leftBlock img {
    margin-right: 20px;
}


.wrapper {
    display: flex;
    width: 1024px;
}

.right {
    width: 500px;
    padding: 30px;
    margin: 20px 0 ;
}

.left {
    width: 500px;
    padding: 30px;
}
