.carts {
    width: 100%;
    margin-bottom: 30px;
}

.cart{
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 25px;
    /* border: 1px solid rgb(202, 200, 200); */
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    /* position: relative; */
}

.name{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: rgb(6, 6, 116);
    color: black;
}

.name p {
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding: 5px 0;
    color: #234b9c;
}

.discription{
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: rgb(80, 75, 75);
}

.time{
    font-size: 18px;
    color: gray;
}


.info{
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.cart img{

    height: 500px;
}

.number_phone{
    padding: 0px 30px;
}

.discription p{
    margin-bottom: 3px;
    font-size: 18px;
    margin-bottom: 8px;
}


.sendedButton{
    width: 200px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #2A66A0;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.sendedButton:hover {
    background-color: #1e3e7e;
}

button:hover{
    background-color: white;
}

.money{
    color: gray;
    margin-top: 10px;
}

.money div {
    display: flex;
    width: 300px;
}

.money div p {
    font-size: 12px;
    margin-left: 30px;
    width: 250px;
    margin: 5px 0;
}

.spisane{
    font-size: 20px;
}

.imgs{
    margin-top: 10px;
}
.name_adds{
    margin-top: 30px;
    width: 400px;
}
.add_name{
    font-size: 20px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}
input{
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    padding: 10px 15px;
}

.send_but{
    margin-top: 10px;   
    background-color: brown;
    margin-left: 47px;
}
.send_but:hover{
    background-color: red;
}


.info img {
    width: 50px;
    height: 50px;
    border-radius: 50px
}




/* css каруселя */

.carusel {
    position: fixed;
    top: 150px;
    left: 300px;
    width: 60%;
    height: auto;
    margin: auto; 

    
}

.carusel button {
    width: 30px;
}

.wrapper {
    width: 1240px;
    margin: auto;
}

.display {
    display: none;
}

.caruselImg {
    width: 100%;
}
