.dropbtn {
    background-color: #816353;
    color: white;
     font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    width: 150px;
    padding: 10px 15px;
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    z-index: 1;
}

.dropdownContent a {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    display: block;
}


.dropdownContent a:hover {
    background-color: #816353;
    color: #ffffff;
}


.dropdown:hover .dropdownContent {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #816353;
}