.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

.hide {
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
}

.show {
  opacity: 1;
  pointer-events:all;
  /* по умолчанию модальное окно прозрачно */
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modalDialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modalDialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

/* свойства для блока, содержащего контент модального окна */
.modalContent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modalContent {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

/* свойства для заголовка модального окна */
.modalHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
  text-align: center;
}

.modalTitle {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 25px;
  overflow: auto;
}

.button {
  /* border-radius: 4px; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 45%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.editBtn {
  background-color: #f4511e;
}

.removeBtn {
  background-color: #a50101;
}

.button span {
  font-size:14px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.editBtn span:after {
  content: '✔';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.removeBtn span:after {
  content: '✖';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: -10px;
}