.CategoriesContainer {
  max-width: 1240px;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.CategoriesContainer h2 {
  padding-top: 50px;
  font-weight: 600;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  width: 200px;
  padding: 20px;
  margin: 50px 30px 0 30px;
}

.container:hover {
  box-shadow: 1px 1px 15px 5px #c7c7c7a8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;

}

.container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.middle {
  width: 100%;
  height: 30%;
  padding: 40px 0 0 0;
  text-align: center;
}

.text {
  font-size: 18px;
  text-decoration: underline;
  color: #4776AA;
}

.text:hover {
  color: #6db1ff;

}