
.person {
    width: 100%;
}
.wrapper {
    width: 100%;
    display: flex;
    padding: 25px 0;
}

.personImg {
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 20%;
    margin: 0 40px 0 0;
}

.personImg img {
    width: 100%;
}

.EditImg {
    width: 80%;
    margin: 15px;
    border: none;
    background-color: #4776AA ;
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
}

.personInfo {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 5px 20px;
    background-color: white;
    width: 80%;
}

.Company {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #4775aa2f ;
}

.Company h1 {
    font-size: 28px;
}

.btnInfo {
    width: 30px;
    height: 30px;
    text-align: center;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    transition: 500ms;
    margin-left: 15px;}

.btnSett:hover {
    transform: rotate(30deg);
    transition: 150ms;
}

.btnExit:hover {
    transform: scale(1.3);
    transition: 500ms;
}

.editInfo {
    background-image: url('https://cdn-icons-png.flaticon.com/512/61/61094.png');
}

.logOut {
    background-image: url('https://cdn-icons-png.flaticon.com/512/320/320140.png');
}