.OneCart {
    width: 960;
    position: relative;
    padding: 30px 0;
}

.wrapper {
    width: 100%;
    display: flex;
    padding: 25px;
    justify-content: space-around;
    text-align: center;
    
}

.UsersInfoWrapper {
    display: flex;
    width: 180px;
    margin: 5px 20px;
    
}

.title {
    margin-left: 27px;
    margin-top: 20px;
    text-decoration: underline;
    color: #4776AA;
}

.boxModal {
    width: 700px;
    min-height: 480px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 25px;
}

.UsersInfo {
    width: 200px;
    margin: 0 auto;
}

.UsersInfo h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.boxModal img {
    height: 430px;
    text-align: centers;
}

.boxModal button {
    height: 430px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.boxModal button:hover {
    background-color: rgba(0, 0, 0, 0.212);
}

.phone {
    width: 180px;
    height: 40px;
    border: none;
    background-color: #4FCC02;
    color: white;
    margin: 5px 20px;
    border-radius: 8px;
}

.phone:hover {
    background-color: #3da000;
}

.message {
    width: 180px;
    height: 40px;
    border: none;
    background-color: #4776AA;
    color: white;
    margin: 5px 20px;
    border-radius: 8px;
}
.message:hover {
    background-color: #3b5e86;
}

.ServisesInfo {
    color: #9c9c9c;
    font-size: 11px;
    margin: 5px 20px;
    border-radius: 4px;
    width: 180px;
    border: 1px solid rgb(129, 129, 129);
}


.infoOboutSrvises {
    width: 700px;
    margin: 0 30px ;
}

.infoOboutSrvises label {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
}

.infoOboutSrvises div {
    font-size: 18px;
}

.Home_buttons {
    font-size: 16px;
    border: none;
    margin-left: 25px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #4776AA;
}
