span {
  cursor: default;
}

.headerContainer {
  max-width: 100%;
  background-color: white
}

.headerTop {
  max-width: 1140px;
  background-color: white;
  margin: auto;
}

.header {
  margin: auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  color: white;
}


.logoContainer {
  display: flex;
}

.logoImg {
  width: 50px;
  margin: 10px 10px;
}

.logoText {
  display: flex;
  align-items: center;
  color: black;
  font-size: large;
  line-height: 15px;
  margin-left: 20px;

}




.auth {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth_button {
  border: 2px solid #4caf50;
  background-color: white;
  color: white;
  width: 120px;
}

.auth_button:hover {
  border: 2px solid #4caf50;
  background-color: white;
  color: #4caf50;
}

.auth button {
  padding: 6px 25px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #4caf50;
  border: none;
}





.navContainer {
  max-width: 100%;
  background-color: #4caf50;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.nav {
  margin: auto;
  max-width: 1140px;
  display: flex;
  justify-content: left;
  text-align: center;
}


.cabinet {
  margin-left: 10px;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  border-color: #2196f3;
  color: rgb(255, 255, 255);
}

.cabinet:hover {
  background: #55b2ff;
  color: white;
}
