span {
  cursor: default;
}

.headerContainer {
  max-width: 100%;
  background-color: white;
}

.headerTop {
  max-width: 1140px;
  background-color: white;
  margin: auto;
  height: 120px;
}

.header {
  margin: auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  color: white;
}


.logoContainer {
  display: flex;
}

.logoImg {
  width: 70px;
  margin: 10px 10px;
}

.logoText {
  display: flex;
  align-items: center;
  color: black;
  font-size: large;
  line-height: 15px;
  margin-left: 20px;

}




.auth {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth_button:hover {
  border: 2px solid #816353;
  background-color: #816353;
  color: white;
}

.auth button {
  width: 120px;
  height: 40px;
  border: 2px solid #816353;
  background-color: white;
  color: #816353;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
}





.navContainer {
  position: relative;
  max-width: 100%;
  background-color: white;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.2); */
}

.nav {
  position: absolute;
  top: -30px;
  right: 190px;
  background-color: #816353;
  width: 1140px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 60px;
}


.cabinet {
  margin-left: 10px;
  border: 1px solid #816353;
  background-color: #816353;
  border-color: #816353;
  color: rgb(255, 255, 255);
}

.cabinet:hover {
  background: #816353;
  color: white;
}
