.SearchBlock {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #e1f1ff;}

.Form {
    width: 1240px;
    height: 360px;
    display: flex;
    margin: auto;
}

.FormBlock {
    margin: auto;
}

.textOfSearch {
    height: 50%;
}

.textOfSearch h1 {
    margin-bottom: 30px;
    font-weight: 600;
}


.Search_form {
    height: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.Search_form input {
    width: 500px;
    height: 54px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
}

.Search_form button {
    width: 190px;
    height: 54px;
    margin-left: 20px;
    background: #f85112;
    color: white;
    border: none;
    border-radius: 4px;
}

.Search_form_img img {
    padding: 20px;
    width: 360px;
}


.orange {
    margin-right: 20px ;
    color: #f85112;
}
