

.SearchBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1140px;
    min-height: 50px;
    margin: 20px auto;
    padding: 30px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.SearchBlock input{
    width: 80%;
    height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: none;
    border-radius: 5px;
}

.SearchBlock button {
    width: 15%;
    height: 40px;
    border: none;
    background-color: #48964D;
    color: white;
    border-radius: 5px;

}