.personPage {
    width: 100%;
    background-color: #dde4ff;
}

.wrapper {
    display: flex;
    width: 1240px;
    margin: auto;
    justify-content: space-between;
}

.placeBlock {
    position: relative;
}

.normalSide {
    left: 0;
    right: 0;
    transition: 5000ms;
}

.leftSide {
    transition: 5000ms;
    left: -1000%;
}

.rightSide {    
    transition: 5000ms;
    right: -1000%;
}