.searchForm {
    width: 100%;
    padding: 20px 0;
}

.wrapper {
    width: 600px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.wrapper input {
    width: 75%;
    height: 35px;
    margin: 0 40px 0 0;
    padding: 0;
    border: 0.1px solid rgba(139, 139, 139, 0.349);
}

.wrapper button {
    width: 20%;
    background-color: #4776AA;
    border: none;
    height: 35px;
    color: white;
    border-radius: 4px;
}